<footer class="bg-brand p-4 text-gray-300">
  <div class="flex items-center justify-center md:container md:mx-auto">
    <a href="mailto:michal@fedyna.dev">Made by &#60;michal@fedyna.dev&#62;</a>
  </div>
</footer>
