---
import Logo from "@components/Logo.astro";
---

<header class="p-4 text-xl font-light text-gray-700">
  <nav class="mx-auto flex flex-row items-center justify-between md:container">
    <!-- <a href="/" class="text-4xl font-extralight hover:text-black"
      >Logo Placeholder</a
    > -->
    <Logo />
    <div class="flex items-center justify-between gap-6">
      <a href="/projects" class="underline-animation hover:text-black"
        >Projects</a
      >
      <a href="/guides" class="underline-animation hover:text-black">Guides</a>
      <a href="/blog" class="underline-animation hover:text-black">Blog</a>
      <a href="/about" class="underline-animation hover:text-black">About</a>
      <a
        href="/hire"
        class="ml-8 rounded-md bg-action px-6 py-2 hover:text-black"
      >
        Hire Me
      </a>
    </div>
  </nav>
</header>

<style>
  .underline-animation {
    position: relative;
    display: inline-block;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000; /* Change to your desired color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
