---
import { Icon } from "astro-icon/components";
---

<a href="/" class="flex flex-row items-center justify-center gap-1">
  <Icon name="solar:programming-broken" size={48} />
  <span>
    <h1 class="font-rubik text-xl font-semibold leading-none">
      Michał<br />
      Fedyna
    </h1>
  </span>
</a>
